<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infosec</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Add FontAwesome for the download icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div>
        <p id="head"><img src="/static/css/assets/favico.png" height="50px" /> Cyber Labs </p>
    </div>
    <div>
        <p id="title">File Repository</p>
    </div>
    <div class='container'>
        <div>
        <h3>Available Files</h3>
        <div>
        <div class="file-grid">
            {% for file in files %}
            <div class="file-item">
                <a href="{{ url_for('download_file', filename=file) }}" class="file_btn">
                <span class="file-name">{{ file }}</span>
                </a>
                <a href="{{ url_for('download_file', filename=file) }}" class="download-btn">
                    <i class="fa fa-download "></i>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
